name: Build and Test
on:
  pull_request:
    branches:
      - master
    paths:
      - "**/Dockerfile"
      - "**/ros**.sh"
      - ".github/workflows/test.yml"
  schedule:
    - cron: "0 2 * * 0" # Weekly on Sundays at 02:00

env:
  DOCKER_USERNAME: tiryoh
  DOCKER_IMAGENAME: ros2-desktop-vnc

jobs:
  build:
    strategy:
      matrix:
        ros-distro: [foxy, galactic, rolling]
        arch: [arm64, amd64]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: docker/setup-qemu-action@v1

      - name: Prepare Docker metadata
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: |
            ${{ env.DOCKER_USERNAME }}/${{ env.DOCKER_IMAGENAME }}
          tags: |
            type=raw,value=${{ matrix.ros-distro }}-${{ matrix.arch }}-{{date 'YYYYMMDDTHHmm'}}
            type=raw,value=${{ matrix.ros-distro }}-${{ matrix.arch }}
          flavor: |
            latest=false
            prefix=
            suffix=

      - name: Parse docker build option
        id: docker-build-option
        run: |
          LABELS=$(cat << EOF | grep -E "=." | sed -e "s/org\./--label org./g" | sed -e "s/--label org\(.*\)=\(.*\)$/--label org\1='\2'/g"
          ${{ steps.meta.outputs.labels }}
          EOF
          )
          echo $LABELS
          echo ::set-output name=labels::$LABELS

      - name: Build docker image
        env:
          DOCKER_TAGNAME: ${{ matrix.ros-distro }}-${{ matrix.arch }}
        run: |
          cd ${DOCKER_TAGNAME%-amd64} && docker build ${{ steps.docker-build-option.outputs.labels }} -t $DOCKER_USERNAME/$DOCKER_IMAGENAME:$DOCKER_TAGNAME .

      - name: List docker images
        run: |
          mkdir -p build_log
          docker image ls "$DOCKER_USERNAME/*" | tee ./build_log/docker_images.txt

      - name: Install trivy
        run: |
          sudo apt-get install apt-transport-https gnupg
          wget -qO - https://aquasecurity.github.io/trivy-repo/deb/public.key | sudo apt-key add -
          echo deb https://aquasecurity.github.io/trivy-repo/deb $(lsb_release -cs) main | sudo tee -a /etc/apt/sources.list.d/trivy.list
          sudo apt-get update
          sudo apt-get install trivy

      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: '${{ matrix.ros-distro }}-${{ matrix.arch }}'
          exit-code: '0'
          vuln-type: 'os,library'
          severity: 'CRITICAL,HIGH'
          format: 'template'
          template: '@/contrib/sarif.tpl'
          output: 'trivy-results.sarif'

      - name: Upload Trivy scan results to GitHub Security tab
        uses: github/codeql-action/upload-sarif@v1
        with:
          sarif_file: 'trivy-results.sarif'